@model Livro
<style>
.btn-primary{
    width: 200px;
}

</style>

<br><br>
<div class="row justify-content-md-center">
    <div class="jumbotron col-6">
    <h1 class="row justify-content-md-center">Cadastro de Livro</h1>

    <form asp-action="Cadastro" method="POST">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Titulo">Titulo</label>
            <input asp-for="Titulo" class="form-control" required/>
        </div>
        <div class="form-group">
            <label asp-for="Autor">Autor</label>
            <input asp-for="Autor" class="form-control" required/>
        </div>
        <div class="form-group">
            <label asp-for="Ano">Ano</label>
            <input asp-for="Ano" class="form-control" required />
        </div>
        <br>
        <center><input type="submit" value="Salvar" class="btn btn-primary"/></center>
    </form>
</div>
</div>