@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Home Page";

    if(string.Compare(Context.Session.GetString("user"),"admin")==0){
        Layout = "_AdminLayout";
    }
}
<br><br>
<div class="text-center">
    <h1 class="display-4">Bem vindo ao sistema Biblioteca</h1>
    <br><br>
    <img src="~/cat.gif" />
</div>
